<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{css/login_styles.css}">
</head>
<body>
<main>
    <div class="main-card">
        <h1>Ошибка</h1>
        <p>Ой, кажется что-то пошло не так</p>
        <br>
        <p>Пожалуйста, сообщите об ошибке на почту kaa5843771@yandex.ru</p>
    </div>
</main>

<footer>
</footer>
</body>
</html>
